# OS
.DS_Store
Thumbs.db
*.swp
*.swo

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Node (se usar build tools no futuro)
node_modules/
npm-debug.log
yarn-error.log

# Build outputs
dist/
build/

# Environment variables
.env
.env.local

# Logs
*.log
